/* General Styles */
body {
  font-family: Montserrat;
  overflow-x: hidden;
}

main {
  gap: 20px;
  background-color: #f5f5f5;
}

/* Fullscreen Styles */
.hScreen {
  height: 100vh;
}

.wScreen {
  width: 100vw;
}

.hFull {
  height: 100%;
}

.wFull {
  width: 100%;
}

/* Flexbox Utilities */
.flex {
  display: flex;
}

.flex.col {
  flex-direction: column;
}

.flex.grow {
  flex-grow: 1;
}

.flex .one,
.flex.one {
  flex: 1;
}

.flex.spcBw {
  justify-content: space-between;
}

.flex.verHorCenter {
  align-items: center;
  justify-content: center;
}

.flex.contentCtr {
  justify-content: center;
}

.flex.contentEnd {
  justify-content: flex-end;
}

.flex.itemsCtr {
  align-items: center;
}

.selfCtr {
  align-self: center;
}

.gap20 {
  gap: 20px;
}

.gap80 {
  gap: 80px;
}

/* Header */
.header {
  height: 50px;
  z-index: 1;
}

.header .logo {
  /* padding-left: 128px; */
}

.headerBg .smallGetInSvg {
  display: none;
}

.header .call {
  padding-left: 46px;
  gap: 4px;
  align-self: flex-end;
}

.header .btnGroup {
  gap: 31px;
}

.headerBg {
  background-image: url("./assets/images/headerBg.png");
  background-size: cover;
  background-position: bottom;
  padding-top: 90px;
  padding-bottom: 60px;
  gap: 10px;
}

/* Padding and Margin */

.stdPadding {
  padding-right: 64px;
  padding-left: 64px;
}

.stdPaddingRt {
  padding-right: 64px;
}

.stdPaddingLt {
  padding-left: 64px;
}

.padMar0 {
  padding: 0;
  margin: 0;
}

.padLeft10 {
  padding-left: 10px;
}

/* Positioning */
.posRel {
  position: relative;
}

.posAbs {
  position: absolute;
}

.wave {
  bottom: 0px;
}

/* Text Styles */
.textWhite {
  color: #ffffff;
}

.textGreen {
  color: #5bc8af;
}

.textGrey {
  color: #ffffffb2;
}

.textBot {
  color: #757575;
}

.text700 {
  font-weight: 700;
}

.text400 {
  font-weight: 400;
}

.textJustify {
  text-align: justify;
}

.font14 {
  font-size: 14px;
}

.font28 {
  font-size: 28px;
}

.font18 {
  font-size: 18px;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.txtDecoNone {
  text-decoration: none;
}

/* Buttons */
.btnClear {
  background: none;
  border: none;
}

.cursorPtr {
  cursor: pointer;
}

.cta {
  transition: transform 0.3s;
  gap: 10px;
  border-radius: 5px;
}

.primaryCta {
  background-color: #5bc8af;
  color: #ffffff;
}

.secondaryCta {
  background-color: #ffffff;
  color: #5bc8af;
  border: solid 1px #5bc8af;
}

.cta:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 6px 0px #00000014;
  cursor: pointer;
}

/* Forms */
.textInput {
  /* position: relative; */
}

.textInput .inputActual:invalid{
  border: solid 1px #FF7777;
}

.textInput .inputActual:invalid + label{
  color: #FF7777;
}

.textInput .inputActual:invalid + label + .errorMsg{
  display: flex;
}

.textInput .errorMsg{
  color: #ffffff;
  background-color: #FF7777;
  bottom: -10px;
  transform: translateY(100%);
  display: none;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  z-index: 4;
}

.textInput .inputActual {
  background: #ffffff0a;
  border: solid 1px #ffffff80;
  transition: all 0.3s ease;
  border-radius: 2px;
  outline: none;
  padding-left: 20px;
}

.textInput input:focus {
  border: solid 1px #ffffff;
}

.textInput label {
  transition: all 0.3s ease;
  font-size: 16px;
  cursor: text;
  transform: translateY(50%);
  color: #ffffff80;
  border-radius: 5px;
}

.textInput input:focus + label,
.textInput input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 13px;
  background: #2a7d6c;
  transform: translateY(0);
  color: #ffffff;
}

.textInput input::placeholder {
  color: transparent !important;
}

.selectDropdown {
  background: none;
  border: solid 1px #ffffff80;
  border-radius: 2px;
  outline: none;
}

.selectDropdown .selectActual {
  background: transparent;
  color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.selectDropdown .selectAdorn {
  align-self: center;
  padding-right: 10px;
}

.selectDropdown:focus-within {
  border: solid 1px #ffffff;
}

.selectDropdown .selectLabelActual {
  color: #ffffff80;
}

.selectDropdown:focus-within .selectLabelActual {
  color: #ffffff;
}

.selectDropdown .selectActual .optActual {
  background: #2a7d6c;
  color: #ffffff;
  border: none;
}

.formInner {
  height: 12%;
  min-height: 45px;
}

/* Contact Us Section */
.contactUs {
  padding: 56px 28px;
  border-radius: 10px;
  gap: 16px;
  height: 50%;
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
}

.contactUs .textInputGrp {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contactUsBtn {
  width: 50%;
  align-self: center;
}

.textInputOuter {
  min-height: 45px;
}

.contentGroup {
  flex-direction: column;
  gap: 64px;
}

.contentImg {
  border-radius: 5px;
  max-width: 33%;
}

.content {
  gap: 32px;
}

.content .weUnder {
  padding-top: 48px;
  max-width: 100%;
}

.caras {
  gap: 36px;
}

.caras .carasInner {
  gap: 36px;
  /* transition: all .5s; */
}

.caras .carasCard {
  background: #194d44;
  border-radius: 5px;
  padding: 20px;
}

.caras .cardQte {
  right: 20px;
  top: 20px;
}

.caras .carasImg {
  aspect-ratio: 1;
  object-fit: contain;
}

.caras .hidden {
  /* transform: translateX(1000%); */
  display: none;
}

.caras .shown {
  /* transform: translateX(0); */
}

.caras .dotCont {
  width: 5%;
  min-width: 50px;
}

.caras .dotCont .activeDot circle {
  fill: #5bc8af;
}

.caras .carBtn:hover path {
  fill: #5bc8af;
}

.tooltip-container {
  border: solid 2px #5bc8af;
  border-radius: 5px;
  padding: 20px 10px;
}

.tooltip-container .nonTooltipText {
  text-align: center;
}

.tooltip-container .tooltip-text {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  display: none;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #217d6f;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.875rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tooltip-container:hover .tooltip-text {
  display: block;
}

.tooltip-container .tooltip-icon {
  visibility: hidden;
  margin-left: 8px;
  font-size: 1rem;
  cursor: pointer;
  color: #217d6f;
}

.tooltip-container:hover {
  color: #5bc8af;
}

.tooltip-container:focus .tooltip-icon,
.tooltip-container:hover .tooltip-icon {
  visibility: visible;
}

.botVideoCont {
}

.botVideoCont .videoTxtSvg {
  padding-top: 20px;
}

.botVideoCont .videoDesc {
  background-image: url("data:image/svg+xml,%3Csvg width='779' height='648' viewBox='0 0 779 648' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H742.597C655.445 274 857.597 323.5 742.597 648H0V0Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M0 0H719.719C635.252 274 831.175 323.5 719.719 648H0V0Z' fill='url(%23paint0_linear_1_237)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_237' x1='377.5' y1='0' x2='377.5' y2='648' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23305D52'/%3E%3Cstop offset='1' stop-color='%23153F38'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  width: 50%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.videoDescUl {
  list-style-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.6 10.6L1.4 6.4L0 7.8L5.6 13.4L17.6 1.4L16.2 0L5.6 10.6Z' fill='%235BC8AF'/%3E%3C/svg%3E%0A");
}

.videoPlayer {
}

.videoPlayer .videoBtn {
  top: 50%;
  left: 60%;
  transition: scale 0.5s;
  z-index: 1;
}

.videoPlayer .videoBtn:hover {
  scale: 125%;
}

.hide {
  display: none;
}

.smallVideo .videoDesc {
  background-image: url(assets/images/mobVidBg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-bottom: 80px;
  bottom: -115px;
  z-index: 1;
}

.visNone {
  visibility: hidden;
}

.tooltipGrp{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.contentInner .contentTxtgrpInner{
  flex: 2;
}

@media (min-width: 1440px) {

  .header {
    flex-direction: row !important;
    gap: 40px;
  }

  .header .head1 {
    padding-left: 128px;
  }

  .header .call {
    padding-right: 128px;
    padding-left: 0;
  }

  .header .head1 .logo {
    padding-left: 0;
  }

  .header .head1 .btnGroup {
    padding-right: 0;
  }

  .headerBg .medGetInSvg {
    display: none;
  }

  .stdPadding {
    padding-right: 128px;
    padding-left: 128px;
  }

  .stdPaddingRt {
    padding-right: 128px;
  }

  .stdPaddingLt {
    padding-left: 128px;
  }

}

@media (max-width: 1439px) {
  .header .head1 {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .carousel{
    padding-top: 60px;
  }

  .contentInner .contentTxtgrpInner{
    flex: 1;
    flex-direction: column;
  }

  .headerBg {
    flex-direction: column;
    padding-bottom: 100px;
    gap: 10px;
  }

  .headerBg .bigGetInSvg {
    display: none;
  }

  .headerBg .bigGetInSvg {
    display: none;
  }

  .headerBg .smallGetInSvg {
    display: flex;
  }

  .headerBg .medGetInSvg {
    display: none;
  }

  .headerBg .descInner {
    justify-content: center;
    text-align: center;
  }

  .header .logo {
    padding-left: 10px;
  }

  .headerBg .contactUs .textInputGrp {
    display: flex;
    flex-direction: column;
  }


  .stdPadding {
    padding-right: 32px;
    padding-left: 32px;
  }

  .stdPaddingRt {
    padding-right: 32px;
  }

  .stdPaddingLt {
    padding-left: 32px;
  }

  .contactUs {
    width: 50%;
  }

  .contactUs .textInputGrp{
    width: 100%;
  }

  .contactUs text-input{
    width: 100%;
  }

  .inputActual{
    width: 100%;
  }

  .tooltipGrp{
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (max-width: 480px) {

  .tooltipGrp{
    grid-template-rows: repeat(6, 1fr); 
    grid-template-columns: 1fr; 
  }

  .stdPadding {
    padding-right: 16px;
    padding-left: 16px;
  }

  .stdPaddingRt {
    padding-right: 16px;
  }

  .stdPaddingLt {
    padding-left: 16px;
  }

  .caras .carasCardImg {
    display: flex;
    top: 0;
    width: 55%;
    transform: translateY(-35%);
    border-radius: 10px;
  }

  .caras .dotCont {
    width: 20%;
  }

  .caras {
    padding: 0;
  }

  .caras .carBtn {
    display: none;
  }

  .caras .carasCard {
    padding-top: 125px;
  }

  .caras .carasImg {
    display: none;
  }

  .caras .carasInner {
    flex-direction: column;
  }

  .txtGrp {
    flex-direction: column;
  }

  .content .imgGroup {
    display: none;
  }

  .header .links {
    display: none;
  }

  .header .call {
    display: none;
  }

  .headerBg .bigGetInSvg {
    display: none;
  }

  .headerBg .smallGetInSvg {
    display: flex;
  }

  .headerBg .medGetInSvg {
    display: none;
  }

  .headerBg .descInner {
    justify-content: center;
    text-align: center;
  }

  .header .logo {
    padding-left: 10px;
  }

  .headerBg .contactUs .textInputGrp {
    display: flex;
    flex-direction: column;
  }

  .bigVideo {
    display: none;
  }

  .smallVideo {
    display: flex;
  }

  .videoPlayer .videoBtn {
    scale: 50%;
    top: -50%;
    left: 50%;
    transform: translate(-100%, 100%);
    transition: scale 0.5s;
    z-index: 1;
  }

  .textBot {
    flex-direction: column;
    text-align: center;
  }

  .header .headerHam{
    display: flex;
  }

  .header{
    flex-direction: row !important; 
  }
}

.watchTheVidMob {
  align-self: center;
  padding-top: 40px;
}
