/* General Styles */
body {
  font-family: Montserrat;
  overflow-x: hidden;
}

main{
  gap: 80px;
  background-color: #F5F5F5;
}

/* Fullscreen Styles */
.hScreen {
  height: 100vh;
}

.wScreen {
  width: 100vw;
}

.hFull {
  height: 100%;
}

.wFull {
  width: 100%;
}

/* Flexbox Utilities */
.flex {
  display: flex;
}

.flex.col {
  flex-direction: column;
}

.flex.grow {
  flex-grow: 1;
}

.flex.one {
  flex: 1;
}

.flex.gap20 {
  gap: 20px;
}

.flex.gap80 {
  gap: 80px;
}

.flex.spcBw {
  justify-content: space-between;
}

.flex.verHorCenter {
  align-items: center;
  justify-content: center;
}

.flex.contentCtr {
  justify-content: center;
}

.flex.contentEnd {
  justify-content: flex-end;
}

.flex.itemsCtr {
  align-items: center;
}

/* Header */
.header {
  height: 50px;
  z-index: 1;
}

.header .logo{
  padding-left: 128px;
}

.header .call {
  padding-left: 46px;
  padding-right: 128px;
  gap: 4px;
}

.header .btnGroup {
  gap: 31px;
}

.headerBg {
  top: 0;
  z-index: -1;
  height: 80vh;
  background-image: url("./assets/images/headerBg.png");
  background-size: cover;
}

/* Padding and Margin */
.stdPadding {
  padding-right: 128px;
  padding-left: 128px;
}

.padMar0 {
  padding: 0;
  margin: 0;
}

.padLeft10 {
  padding-left: 10px;
}

/* Positioning */
.posRel {
  position: relative;
}

.posAbs {
  position: absolute;
}

.wave {
  bottom: 0px;
}

/* Text Styles */
.textWhite {
  color: #ffffff;
}

.textGreen {
  color: #5bc8af;
}

.textGrey {
  color: #ffffffb2;
}

.text700 {
  font-weight: 700;
}

.text400 {
  font-weight: 400;
}

.font14 {
  font-size: 14px;
}

.font28 {
  font-size: 28px;
}

.font18 {
  font-size: 18px;
}

.underline {
  text-decoration: underline;
}

.txtDecoNone {
  text-decoration: none;
}

/* Buttons */
.btnClear {
  background: none;
  border: none;
}

.cursorPtr {
  cursor: pointer;
}

.cta{
  transition: transform 0.3s;
  gap: 10px;
  border-radius: 5px;
}

.primaryCta {
  background-color: #5bc8af;
  color: #ffffff;
}

.secondaryCta{
  background-color: #F5F5F5;
  color: #5BC8AF;
  border: solid 1px #5BC8AF;
}

.cta:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 6px 0px #00000014;
  cursor: pointer;
}

/* Forms */
.textInput {
  /* position: relative; */
}

.textInput .inputActual {
  background: #ffffff0a;
  border: solid 1px #ffffff80;
  transition: all 0.3s ease;
  border-radius: 2px;
  outline: none;
  padding-left: 20px;
}

.textInput input:focus {
  border: solid 1px #ffffff;
}

.textInput label {
  transition: all 0.3s ease;
  font-size: 16px;
  cursor: text;
  transform: translateY(50%);
  color: #ffffff80;
}

.textInput input:focus + label,
.textInput input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 13px;
  background: #2a7d6c;
  transform: translateY(0);
  color: #ffffff;
}

.textInput input::placeholder {
  color: transparent !important;
}

.selectDropdown {
  background: none;
  border: solid 1px #ffffff80;
  border-radius: 2px;
  outline: none;
}

.selectDropdown .selectActual {
  background: transparent;
  color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.selectDropdown .selectAdorn {
  align-self: center;
  padding-right: 10px;
}

.selectDropdown:focus-within {
  border: solid 1px #ffffff;
}

.selectDropdown .selectLabelActual {
  color: #ffffff80;
}

.selectDropdown:focus-within .selectLabelActual {
  color: #ffffff;
}

.selectDropdown .selectActual .optActual {
  background: #2a7d6c;
  color: #ffffff;
  border: none;
}

.formInner {
  height: 12%;
}

/* Contact Us Section */
.contactUs {
  padding: 56px 28px;
  border-radius: 5px;
  gap: 16px;
  height: 50%;
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
}

.contactUsBtn{
  width: 50%;
  align-self: center;
}

.contentGroup{
  flex-direction: column;
  gap: 64px;
}

.contentImg{
  border-radius: 5px;
}

.content{
  gap: 32px;
}

.content .weUnder{
  padding-top: 48px;
}

.content .contentInner{
  gap: 40px;
}